*.log
.venv
.DS_Store
# Ignorer les données brutes et intermédiaires
Data/Data France/Data_bronse_france/
Data/Data France/Data_silver_france/

Data/Data France/Data_bronse_norway/
Data/Data France/Data_silver_norway/

Data/Data OpenweatherMap/Data_bronse_openweathermap
Data/Data OpenweatherMap/Data_silver_openweathermap
Data/Data OpenweatherMap/Data_gold_openweathermap