pip install pandas : numpy-2.0.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

pip install matplotlib

pip install seaborn-0.13.2

pip install tqdm-4.66.6

pip install holidays-0.60

pip install scikit-learn-1.5.2 scipy-1.13.1 threadpoolctl-3.5.0

pip install tensorflow-metal-1.1.0

pip install tensorflow-macos 

pip install pycountry 